.level-min-width {
    min-width: 0 !important;
}

.level-margin {
    margin: 20px 0;
}

.text-align-center {
    text-align: center;
}

.gold-color {
    color: #fdcc00;
}

.yellow-color {
    color: #cece1b;
}

.green-color {
    color: #2dc269;
}

.text-logo {
    color: #fff;
}

.padding-100 {
    padding: 0 100px;
}